In [2]:
import pandas as pd

In [4]:
data=pd.read_csv('..\Data\properatti.csv')

In [15]:
data.head(5)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

In [33]:
data.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [36]:
data.isnull().sum()

Unnamed: 0                         0
operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [46]:
data.currency.value_counts()

USD    87587
ARS    13219
PEN        2
UYU        1
Name: currency, dtype: int64

In [54]:
data.property_type.value_counts()

apartment    71065
house        40268
PH            5751
store         4136
Name: property_type, dtype: int64

In [52]:
data.description

0         2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...
1         Venta de departamento en décimo piso al frente...
2         2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...
3         PH 3 ambientes con patio. Hay 3 deptos en lote...
4         DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...
                                ...
121215    TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...
121216    Excelente e impecable casa en Venta en Las Lom...
121217    VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...
121218    2 Amb al contrafrente,  luminoso. El departame...
121219    Departamento de 77 m2 apto profesional. Edific...
Name: description, Length: 121220, dtype: object

In [43]:
data.notnull().sum()

Unnamed: 0                    121220
operation                     121220
property_type                 121220
place_name                    121197
place_with_parent_names       121220
country_name                  121220
state_name                    121220
geonames_id                   102503
lat-lon                        69670
lat                            69670
lon                            69670
price                         100810
currency                      100809
price_aprox_local_currency    100810
price_aprox_usd               100810
surface_total_in_m2            81892
surface_covered_in_m2         101313
price_usd_per_m2               68617
price_per_m2                   87658
floor                           7899
rooms                          47390
expenses                       14262
properati_url                 121220
description                   121218
title                         121220
image_thumbnail               118108
dtype: int64

In [14]:
# CHARLA CON ESTEBAN
# Hipotesis:
# Seguramente la ubicacion geografica tiene que ver con el precio
# Generar variables nuevas, m2 --> cantidad de cuartos. "variables proxy"
# Estandadrizar la moneda.Checkear la fecha en la que se hicieron, cambian con el tiempo!
# Recomendaciones para limpiar: "el objetvo es el precio en dolares. No llenen nunca informacion objetivo"
# Otros tips: vean como se organizan. Empiecen por lo mas sospechoso, pasen a lo siguiente si se complica mucho.
# Revisar description, tiene mas cosas que faltan en las otras columnas.
# Frenen sus ansias de limpiar todo. Algunas cosas pueden no mover la aguja de la señal.
# Puedo empezar a analizar si agrupo los precios por bins.
# Sacar los outliers! Ojo con los outliers "reales". Es probable que tengamos que elegir si queremos modelar para
# precios mas "normales" que para precios exorbitantes.


# Recomendacion para laburar en grupo: Colab esta bueno, pero el codigo es lo ultimo que se escribe. Tener la idea antes 
# de sentarte a escribir. A nivel codigo, cada uno llevarse un problema mas chiquito. Despues coordinar la notebook entera.

# Primero todas las versiones para que el profe pueda correr mi ambiente. 
# Despues importar las librerias. 

# Lo mejor seria usar el ambiente que nos dio DH. Pueden llegar a usar GeoPandas.

In [16]:
# MARTES Y VIERNES de 19 a 21hs

# Decisiones nuestras:
# Dropear todos los nulos en el precio.
# usar todos los precios en dolares, sin ajustar por inflacion. 
# vamos a ver el simulador de precio real!!!!

# Que variables vamos a limpiar?
#     # # price_aprox_usd
#     place_name
#     country_name
#     property_type (para "aperturar" el area)
#     surface_total_in_m2
#     surface_covered_in_m2
#     rooms
#     pileta...? Ammenities


# Que variables nos gustaria ver:
#     2 bines por precio, 
#             1- cada 20m2 (?) precio promedio. 
#             2- calcular m2 promedio cada 10.000usd
#             3-revisar cantidad de ambientes
#     3 
#     Deciles para distribuir el precio
    
    
# cosas que vamos a mencionar
#     son todas ventas! No hay alquileres
#     danos los baños!! "se podrian analizar los baños"

In [ ]:
data_limpia_usd =